.cover__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 1184px;
  height: 740px;
  text-decoration: none;
  background: linear-gradient(rgba(42, 44, 47, 0.3), rgba(42, 44, 47, 0.3)), url(../../../images/cover-trains.jpg) center/cover no-repeat;
  transition: background 0.3s ease-in-out;
}

.cover__link:hover {
  background: linear-gradient(rgba(42, 44, 47, 0.8), rgba(42, 44, 47, 0.8)), url(../../../images/cover-trains.jpg) center/cover no-repeat;
}

@media (max-width: 1024px) {
  .cover__link {
    height: 620px;
  }
}

@media (max-width: 768px) {
  .cover__link {
    height: 480px;
  }
}

@media (max-width: 767px) {
  .cover__link {
    height: 200px;
  }
}
